@model OdeToFood.Core.Restaurant

<div class="card">
    <div class="card-header"><h3>@Model.Name</h3></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: @Model.Location</li>
        <li class="list-group-item">Cuisine: @Model.Cuisine</li>
        <li class="list-group-item">
            <div>
                <a class="btn btn-light"
                   asp-page="./Detail"
                   asp-route-restaurantId="@Model.Id">
                    Details
                    <!--<i class="fas fa-search-plus"></i>-->
                </a>
                <a class="btn btn-light"
                   asp-page="./Edit"
                   asp-route-restaurantId="@Model.Id">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="btn btn-light"
                   asp-page="./Delete"
                   asp-route-restaurantId="@Model.Id">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
<br />